<hr />
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
    {% if LACES_ADDTHIS.facebook|default(true) %}
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    {% endif %}
    {% if LACES_ADDTHIS.twitter|default(true) %}
        <a class="addthis_button_tweet"></a>
    {% endif %}
    {% if LACES_ADDTHIS.googleplus|default(true) %}
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    {% endif %}
</div>
<!-- AddThis Button END -->
