{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if LACES_ARTICLE_INFO_LIST %}
                    <div class="well well-sm">
                        {% with _laces_in_article_list=True %}
                        {% include "includes/article_info_list.html" %}
                        {% endwith %}
                    </div>
                {% endif %}
                <div class="summary">
                    {% if article.summary %}
                    {{ article.summary }}
                    {% elif article.truncate %}
                    {% set trunc = article.truncate|int %}
                    {{ article.content | truncate(trunc, end='') }}
                    {% else %}
                    {{ article.content | truncate(1024, end='') }}
                    {% endif %}

                    {% include 'includes/comment_count.html' %}
                    {% if SUMMARY_MAX_LENGTH != None %}
                    <a href="{{ SITEURL }}/{{ article.url }}"><strong>... more</strong></a>
                    {% endif %}                        
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
